#loginForm {
    border: 1px solid var(--color-focus);

    border-radius: var(--border-radius);
    background-color: var(--color-focus);

    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
}

#loginForm button {
    background-color: var(--color-submit-button);
    border: 1px solid var(--color-submit-button);
    color: black;
}